<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COVID-19 Statistics and Count</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <h1>Total Count Around the World</h1>
    <p>
       Confirmed Cases <br>
       {{ confirmed }}
    </p>
    <p class="active">
       Active Cases <br>
       {{ active }}
    </p>
    <p class="death">
       Total Deaths <br>
       {{ deaths }}
    </p>
    <p class="recovered">
       Total Recovered <br>
       {{ recovered }}
    </p>

    <br>

    <h1>Count By Country</h1>
    <br>
    <table>
      <tr>
          <th>Country</th>
          <th style="color: darkblue;">Code</th>
          <th>Confirmed</th>
          <th class="recovered">Recovered</th>
          <th class="active">Active</th>
          <th class="death">Deaths</th>
          <th>Latitude</th>
          <th>Longitude</th>
      </tr>
      {% for location in locations %}
        <tr>
          <td> {{location.country}} </td>
          <td style="color: darkblue;"> {{location.country_code}} </td>
          <td> {{location.confirmed}} </td>
          <td class="recovered"> {{location.recovered}} </td>
          <td class="active"> {{location.active}} </td>
          <td class="death"> {{location.deaths}} </td>
          <td> {{location.latitude}} </td>
          <td> {{location.longitude}} </td>
        </tr>
      {% endfor %}
    </table>
    <footer>
       <p>Made by: Ahmed Emad</p>
    </footer>
  </body>
</html>
